// colors
$black: #000;
$white: #fff;
$dark: #150a28;
$gray: #949199;
$light-background: #fafafa;
$pagination-gray: #dbd9e3;
$pagination-hover: #7b797f;
$slide-text-gray: #7b7980;
$hero-text-gray: #b9b6bf;
$dark-blue: #150a28;
$pink: #f05fd6;

// width
$md: 1024px;
$tab: 992px;
$sm: 480px;

// fonts
$font: 'Silka', sans-serif;
