.hero {
  &__slider.swiper-container {
    padding-bottom: 30px;
    @include tab {
      background-color: $dark-blue;
    }
  }

  &__slide.swiper-slide {
    width: 100%;
    height: 100vh;
    min-height: 600px;

    @include md {
      height: auto;
    }
  }

  &__slide-visual {
    position: absolute;
    height: 100%;
    width: 100%;

    @include md {
      position: relative;
      height: auto;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%
      );

      @include md {
        display: none;
      }
    }
  }

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    z-index: -1;

    @include md {
      position: relative;
      height: auto;
    }
  }

  &__nav-wrap {
    position: relative;
    @include md {
      display: flex;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @include tab {
        position: relative;
        margin: 0 0 0 auto;
        display: inline-block;
        bottom: 0;
      }
    }

    .swiper-button-prev {
      @include tab {
        left: 0px;
      }
    }
    .swiper-button-next {
      @include tab {
        margin: 0 0 0 26px;
        right: 0;
      }
    }
  }
}
